<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.amacedo.com.fitapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InicioActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NovoUsuario" />
        <activity
            android:name=".NovaRefeicao"
            android:label="@string/title_activity_nova_refeicao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RefeicaoActivity" />
        <activity android:name=".RefeicaoEdit" />
        <activity
            android:name=".AlimentoActivity"
            android:label="@string/title_activity_http_alimento"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>